# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.venv/

# Environment secrets
.env



# ML model caches
.cache/
.cache/huggingface/
.cache/torch/
.cache/sentence_transformers/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Generated audio files
Dr.Ambedkar-RAG/audio/

backend/.env
frontend-react/.env
env/
audio/

node_modules/

frontend-react/dist
audio/