--extra-index-url https://download.pytorch.org/whl/cpu

fastapi
uvicorn
python-dotenv

pymongo
dnspython
certifi

gTTS

google-generativeai

numpy
scikit-learn
scipy
rank-bm25

qdrant-client

langchain
langchain-community

sentence-transformers
transformers
torch==2.11.0+cpu

httpx
requests
tqdm

pydantic
typing_extensions